<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Bot Encuestas </p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Encuesta</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/survey">Ver Encuestas</a>
                    </li>
                    <li>
                        <a href="/home">Crear Encuesta</a>
                    </li>
                    <li>
                        <a href="/home">Editar Encuesta</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Beneficios</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a id="benefitList" (click) ='switchPrimary($event)'>Ver Beneficios</a>
                    </li>
                    <li>
                        <a href="/home">Crear Beneficios</a>
                    </li>
                    <li>
                        <a href="/home">Asignar Beneficios</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/home">Grupo 2 AyD 1</a>
            </li>
            <li>
                <a href="/faq">Ejemplo FAQ</a>
            </li>
            <li>
                <a href="/home">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="/home" class="download">Cerrrar Sesión</a>
            </li>
            <!-- <li>
                <a href="" class="article">Back to article</a>
            </li> -->
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info" (click)='collapseMenu()'>
                    <span>{{menuStatus}} Menú</span>
                </button>
                {{loggedUser}}

            </div>
        </nav>

        <div id="main">
            <div *ngIf="show; then thenBlock; else elseBlock">this is ignored</div>
            <ng-template #surveyList> Lista de Facturas acá... </ng-template>
            <ng-template #benefitList>  <app-faq></app-faq> </ng-template>
            <ng-template #elseBlock>Default Selection aca</ng-template>

        </div>
    </div>
</div>